<%- include('../partials/header') %>
<div class="container">
    <table id="list">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight No</th>
                <th>Departure</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f){ %>
                <tr <%- f.departs < new Date() ? 'class="passed"' : '' %>>
                    <td><%= f.airline %></td>
                    <td><%= f.airport %></td>
                    <td><%= f.flightNo %></td>
                    <td><%= f.departs %></td>
                    <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %>