<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline</div>
    <div><%= flight.airline %></div>
    <div>Airport</div>
    <div><%= flight.airport %></div>
    <div>Flight Number</div>
    <div><%= flight.flightNo %></div>
    <div>Departs</div>
    <div><%= flight.departs %></div>
    <div>Destinations</div>
    <ul>
      <% flight.destinations.forEach(function(d){ %>
        <li>
          <%= d.airport %> - <%= d.arrival %>
        </li>
      <% }) %>
    </ul>
    <form action="/flights/<%= flight._id %>?_method=PUT" method="post">
      <select name="airport">
        <% ['AUS', 'DFW', 'DEN', 'LAX', 'SAN'].forEach(function(airport){ %>
          <% if(airport !== flight.airport){ %>
            <option value="<%= airport %>"><%= airport %></option>
          <% } %>
        <% }) %>
      </select>
      <input type="datetime-local" name="arrival">
      <input type="submit" value="Add Destination">
    </form>
    <ul>
      <% tickets.forEach(function(t){ %>
        <li>
          <%= t.seat %> - <%= t.price %>
        </li>
      <% }) %>
    </ul>
    <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
  </section>

<%- include('../partials/footer') %>