<%- include('../partials/header') %>

<section id="show-page">
  <div class="container">
    <table>
      <tbody>
        <tr>
          <td>Airline:</td><td><%= flight.airline %></td>
        </tr>
        <tr>
          <td>Airport:</td><td><%= flight.airport %></td>
        </tr>
        <tr>
          <td>Flight Number:</td><td><%= flight.flightNo %></td>
        </tr>
        <tr>
          <td>Departs:</td><td><%= flight.departs %></td>
        </tr>
      </tbody>
    </table>
  </div>
    <div id="destinations">
      <h3>Destinations</h3>
      <ul>
        <% flight.destinations.forEach(function(d){ %>
          <li>
            <%= d.airport %> - <%= d.arrival %>
          </li>
        <% }) %>
      </ul>
      <form action="/flights/<%= flight._id %>?_method=PUT" method="post">
        <select name="airport">
          <% ['AUS', 'DFW', 'DEN', 'LAX', 'SAN'].forEach(function(airport){ %>
            <% if(airport !== flight.airport){ %>
              <option value="<%= airport %>"><%= airport %></option>
            <% } %>
          <% }) %>
        </select>
        <input type="datetime-local" name="arrival">
        <input type="submit" value="Add Destination">
      </form>
    </div>
    <div id="tickets">
      <h3>Tickets</h3>
      <table>
        <thead>
          <th>Seat</th><th>Price</th>
        </thead>
        <tbody>
          <% tickets.forEach(function(t){ %>
            <tr>
              <td><%= t.seat %></td><td><%= t.price %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
  </div>
  </section>
<%- include('../partials/footer') %>